* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #ff481f;
  font-family: avenir;

}

.logo {
  height: auto;
  position: fixed;
  top: 1em;
  left: 1.5em;
  width: 100px;
  background-color: #ffffff;
  z-index: 999;
}

.logo a img {
  width: 100%;
}

.current {
  text-decoration: underline;
  color: #f2b90c;
}

nav.top {
  font-style: oblique;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.5em;
  padding: 1em;
}

nav.top .menu {
  display: flex;
  gap: 2em;
  list-style: none;
}

nav.top .hamburger {
  display: none;
  font-size: 1.25em;
  cursor: grab;
  z-index: 1001;
}

a {
  color: #ff481f;
  text-decoration: none;
}

a:hover {
  color: #f2b90c;
  text-decoration: underline;
}

.mainbg {
  text-align: center;
}

.mainbg img {
  width: 100%;
  max-width: 700px;
  margin: 30px auto 0;
  position: relative;

}

h1 {
  font-size: 3vmin;
  text-align: center;
  color: #ff481f;
  font-weight: 600;
  position: relative;
  z-index: 1001;
}


/* start design page */
h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3em;
  text-align: right;
}

.right {
  position: flex;
  right: 2em;
  width: 50%;
}

h2 {
  position: fixed;
}

.team {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: auto;
  min-width: 700px;
  padding-left: 3em;
  /* border: solid 1px #f25835; */
}

h3 {
  /* text-transform: uppercase; */
  font-size: 2.5em;
  margin: 0;
  /* border: solid 1px #f25835; */
  text-align: left;
}


.team-wrapper {
  display: flex;
  align-items: flex-start;
  /* padding: 2em; */
}

section {
  display: flex;
  max-width: 1000px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 6em;
}
/* animation pg */

.animation {
  /* width: 70%; */
  height: auto;
  display: block;
  margin: 0 auto 70px;
  max-width: 600px;
}

/* start design page */
main.parent {
  padding: 3.5em 18em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  /* border:solid 1px #f25835; */
}

/* figure {
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  } */

.parent img {
  display: block;
  width: 100%;

}

p{
  display: flex;
  flex-direction: column;
  align-items: right;
  
}

/* illustration page */
.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 2em;
}

.poster img {
  width: auto;
}

.selfie {
  display: flex;
  align-items: center;
  width: 35%;
  height: auto;
  margin-top: 5em;
}

/* end illustration pg */

/* carousel */
.swiper-container {
  max-width: 750px;
  aspect-ratio: calc(16 / 16);
  margin: 100px auto 0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  --swiper-navigation-color: #f2f2f2;
}

.swiper-pagination {
  display: none;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-next {
  right: 5px;
}

/* end carousel */

/* transition */
.container {
  display: flex;
  justify-content: space;
  align-items: center;
}

.container:hover>.section {
  filter: brightness(50%);
}

.container:hover>.section:hover {
  filter: brightness(100%);
}

.container .section {
  flex-grow: 5;
  position: relative;
  height: 90%;
  transition: all 0.6s;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  flex: 1;
}

.container .section .cont_title img {
  width: 90%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: auto;
}

.container .section:hover {
  flex-grow: 3;
  transition: flex 0.4s;
}

footer {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-align: right;
  color: #f2b90c;
  z-index: 1000;
}



/* media query */
@media only screen and (max-width: 700px) {
  .intro p {
    display: flex;
    -webkit-column-count: 1;
    column-count: 1;
    padding: 2.5em 2.5em;
    min-width: auto;
    justify-content: center;
    align-items: center;
  }

  nav.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    justify-content: center;
    height: 80px;
    /* adjust to match your logo height */
    background-color: white;
    z-index: 998;
  }

    .row,
    .navbar {
      flex-direction: column;
    }

  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

  .mainbg {
    position: relative;
    z-index: 997;
    text-align: center;
  }

  .logo {
    position: fixed;
    top: -2%;
    left: 8.5%;
    transform: translateX(-50%) scale(0.6);
    z-index: 1001;
  }

  .design {
    /* display: flex; */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically if the container has height */
    gap: 50px;
  }

  nav.top .hamburger {
    display: block;
    position: fixed;
    top: 1%;
    left: 88%;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 0;
    z-index: 1002;
  }

  nav.top .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 48px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 72px);
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 1001;
  }

  nav.top .menu.show {
    display: flex;
  }

  nav.top .menu li a {
    font-size: 0.8em;
    font-family: avenir;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #f2f2f2;
    transition: color 0.3s ease;
  }
  
  .animation {
margin-top: 5em;
  }



 footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1em;
  bottom: 0;
  right: 0;
height: 20px;
    background-color: white;
}

.poster img{
  width: 120%;
    height: auto;
    margin-top: 2em;
}
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container .section {
    width: 100%;
    flex-grow: unset;
  }

  /* .team-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .team {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    min-width: auto;
    max-width: 100%;
    background-color: white;
  }

  .team img {
    width: 90%;
    max-width: 500px;
    height: auto;
    margin: 1em;
  }

  .team-info {
    text-align: left;
    max-width: 90%;
    order: -1;

  }

  .selfie {
    width: 65%;
    margin-top: 6em;

  } */
}
* media query end */
